app/pages/index.pug
extends layout/_layout

block vars
  - var pageName = 'Главная'
  - var bodyClass = ''

block content
    .page-content
        section
            .container
                h2.basic-title Текущие закупки
                .section-list
                    mixin item 
                        .section-item
                            .section-item__tittle
                                .section-item__date 19.05.2020
                                .section-item__name Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»
                            ul.section-item__docs
                                li
                                    span Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»
                                    a(href='#') document.docx (1.2 Мб)
                                li
                                    span Состав Центральной закупочной комисси Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛи АО «Управление ВОЛС-ВЛ» Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»
                                    a(href='#') document.docx (1.2 Мб)
                                li 
                                    span Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»
                                    a(href='#') Документ с оооооооочень длинным названием Документ с оооооооочень длинным названием.docx (1.2 Мб)
                    +item
                    +item
                    +item
                h2.basic-title Завершенные закупки
                .section-list
                    +item
                    +item
                    +item
                    +item

public/index.html
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--meta tags-->
		<meta name="description" content="">
		<meta property="og:image" content="">
		<meta property="og:image:type" content="image/png">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:type" content="website">
		<meta property="og:url" content="">
		<meta property="og:title" content="Главная" />
		<meta property="og:description" content="" />
		<link rel="apple-touch-icon" sizes="57x57" href="tpl/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="tpl/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="tpl/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="tpl/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="tpl/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="tpl/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="tpl/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="tpl/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="tpl/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="tpl/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="tpl/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="tpl/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="tpl/favicons/favicon-16x16.png">
		<link rel="manifest" href="tpl/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="tpl/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff"><!-- favfavicons-->
		<!--title-->
		<title>Главная</title>
		<!--fonts-->
		<!-- css-->
		<link href="tpl/template_styles.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="container">
				<div class="header-logo"><img src="tpl/img/logo.svg" alt="Лого"></div>
				<ul class="header-menu">
					<li><a href="#" target="blank">Положение о закупках</a></li>
					<li><a href="#" target="blank">План закупок</a></li>
				</ul>
			</div>
		</header>
		<div class="page-content">
			<section>
				<div class="container">
					<h2 class="basic-title">Текущие закупки</h2>
					<div class="section-list">
						<div class="section-item">
							<div class="section-item__tittle">
								<div class="section-item__date">19.05.2020</div>
								<div class="section-item__name">Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</div>
							</div>
							<ul class="section-item__docs">
								<li><span>Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">document.docx (1.2 Мб)</a></li>
								<li><span>Состав Центральной закупочной комисси Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛи АО «Управление ВОЛС-ВЛ» Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">document.docx (1.2 Мб)</a></li>
								<li> <span>Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">Документ с оооооооочень длинным названием Документ с оооооооочень длинным названием.docx (1.2 Мб)</a></li>
							</ul>
						</div>
						<div class="section-item">
							<div class="section-item__tittle">
								<div class="section-item__date">19.05.2020</div>
								<div class="section-item__name">Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</div>
							</div>
							<ul class="section-item__docs">
								<li><span>Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">document.docx (1.2 Мб)</a></li>
								<li><span>Состав Центральной закупочной комисси Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛи АО «Управление ВОЛС-ВЛ» Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">document.docx (1.2 Мб)</a></li>
								<li> <span>Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">Документ с оооооооочень длинным названием Документ с оооооооочень длинным названием.docx (1.2 Мб)</a></li>
							</ul>
						</div>
						<div class="section-item">
							<div class="section-item__tittle">
								<div class="section-item__date">19.05.2020</div>
								<div class="section-item__name">Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</div>
							</div>
							<ul class="section-item__docs">
								<li><span>Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">document.docx (1.2 Мб)</a></li>
								<li><span>Состав Центральной закупочной комисси Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛи АО «Управление ВОЛС-ВЛ» Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">document.docx (1.2 Мб)</a></li>
								<li> <span>Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">Документ с оооооооочень длинным названием Документ с оооооооочень длинным названием.docx (1.2 Мб)</a></li>
							</ul>
						</div>
					</div>
					<h2 class="basic-title">Завершенные закупки</h2>
					<div class="section-list">
						<div class="section-item">
							<div class="section-item__tittle">
								<div class="section-item__date">19.05.2020</div>
								<div class="section-item__name">Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</div>
							</div>
							<ul class="section-item__docs">
								<li><span>Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">document.docx (1.2 Мб)</a></li>
								<li><span>Состав Центральной закупочной комисси Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛи АО «Управление ВОЛС-ВЛ» Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">document.docx (1.2 Мб)</a></li>
								<li> <span>Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">Документ с оооооооочень длинным названием Документ с оооооооочень длинным названием.docx (1.2 Мб)</a></li>
							</ul>
						</div>
						<div class="section-item">
							<div class="section-item__tittle">
								<div class="section-item__date">19.05.2020</div>
								<div class="section-item__name">Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</div>
							</div>
							<ul class="section-item__docs">
								<li><span>Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">document.docx (1.2 Мб)</a></li>
								<li><span>Состав Центральной закупочной комисси Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛи АО «Управление ВОЛС-ВЛ» Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">document.docx (1.2 Мб)</a></li>
								<li> <span>Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">Документ с оооооооочень длинным названием Документ с оооооооочень длинным названием.docx (1.2 Мб)</a></li>
							</ul>
						</div>
						<div class="section-item">
							<div class="section-item__tittle">
								<div class="section-item__date">19.05.2020</div>
								<div class="section-item__name">Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</div>
							</div>
							<ul class="section-item__docs">
								<li><span>Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">document.docx (1.2 Мб)</a></li>
								<li><span>Состав Центральной закупочной комисси Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛи АО «Управление ВОЛС-ВЛ» Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">document.docx (1.2 Мб)</a></li>
								<li> <span>Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">Документ с оооооооочень длинным названием Документ с оооооооочень длинным названием.docx (1.2 Мб)</a></li>
							</ul>
						</div>
						<div class="section-item">
							<div class="section-item__tittle">
								<div class="section-item__date">19.05.2020</div>
								<div class="section-item__name">Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</div>
							</div>
							<ul class="section-item__docs">
								<li><span>Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">document.docx (1.2 Мб)</a></li>
								<li><span>Состав Центральной закупочной комисси Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛи АО «Управление ВОЛС-ВЛ» Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">document.docx (1.2 Мб)</a></li>
								<li> <span>Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»</span><a href="#">Документ с оооооооочень длинным названием Документ с оооооооочень длинным названием.docx (1.2 Мб)</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer>
			<div class="container">
				<div class="copyright"></div>
				<div class="developer"> <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none">
					</svg></div>
			</div>
		</footer>
		<script src="tpl/js/jquery.min.js"></script>
		<script src="tpl/js/lib.min.js"></script>
		<script src="tpl/js/main.js"></script>
	</body>
</html>
